[submodule "libimobiledevice"]
	path = libimobiledevice
    url = https://github.com/libimobiledevice/libimobiledevice.git
    branch = master
[submodule "libusbmuxd"]
	path = libusbmuxd
	url = https://github.com/libimobiledevice/libusbmuxd.git
    branch = master
[submodule "libplist"]
	path = libplist
	url = https://github.com/libimobiledevice/libplist.git
    branch = master
[submodule "openssl"]
	path = openssl
	url = https://github.com/openssl/openssl.git
	branch = OpenSSL_1_1_1-stable
